.dashboard {
  background-color: #9d9d9d;
  position: fixed;
  bottom: 0px;
  padding: 0px;
  top: 52px; }
  .dashboard ul {
    padding-left: 0px; }
    .dashboard ul li {
      padding: 10px 15px;
      font-size: 15px;
      list-style-type: none; }
      .dashboard ul li:hover {
        background-color: #736C6C; }
      .dashboard ul li.active {
        background-color: #736C6C; }
      .dashboard ul li a {
        color: #FFF; }
        .dashboard ul li a:hover {
          text-decoration: none !important; }
        .dashboard ul li a:focus {
          text-decoration: none !important; }

.main {
  top: 52px; }
  .main #least {
    margin-top: 20px;
    float: left; }
    .main #least .least-preview table td {
      padding: 5px 15px;
      border: 1px solid #DCD4D4; }

.fpnav {
  margin-bottom: 0px !important;
  position: fixed;
  float: left;
  width: 100%;
  z-index: 1000; }
  .fpnav .fpselect {
    float: right !important;
    margin-top: 8px; }
    .fpnav .fpselect ul li.active a {
      background-color: #736C6C; }
    .fpnav .fpselect .bs-searchbox input:focus {
      border-color: #736C6C;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(100, 103, 105, 0.6); }
